@font-face {
  font-family: evilEmpire;
  src: url(fonts/EvilEmpire.ttf);
}

body {
  background-color: #777777;
  color: #420455;
  text-shadow: 1px 1px 1px #7d2597;
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.superscript {
  font-size: 30px;
  vertical-align: super;
}

h2 {
  text-align: center;
}

.new-album {
  text-align: right;
  padding-right: 70px;
}

.album-name {
  color: #2ed73a;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 1px 2px 1px rgb(83, 121, 86);

  border: 5px #4ac925;
  border-left: 5px #1F9400;
  border-top: 5px #1F9400;
  border-style: double;

  background: rgb(20, 31, 16);

  padding: 5px 6px 5px 7px;
}

ul {
  font-size: 25px;
  letter-spacing: 3px;
  color: #f8aeae;
  text-shadow: 2px 2px 1px #55002b;
  font-family: evilEmpire;

  background-color:#990000;
  float: right;

  border: 12px outset black;
  border-radius: 20px;

  padding: 15px 15px 7px 15px;
  margin-right: 13px;
}

li {
  list-style: none;
  text-align: center;
  line-height: 50px;
  rotate: 3deg;

  padding-top: 5px;

  border-bottom: 5px ridge #078446;
  border-radius: 5%;
}

.lower {
  rotate: -3deg;
  color: #AEF8F8;
}

.list-bottom {
  border-bottom: none;
}