h1 {
  text-align: center;
  font-size: 50px;
}

.superscript {
  font-size: 30px;
  vertical-align: super;
}

h2 {
  text-align: center;
}

.new-album {
  text-align: right;
  padding-right: 70px;
}

.album-name {
  color: #2ed73a;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgb(83, 121, 86);

  border: 5px #4ac925;
  border-left: 5px #1F9400;
  border-top: 5px #1F9400;
  border-style: double;

  background: rgb(20, 31, 16);

  padding: 2px 4px 2px 2px;
}

ul {
  font-size: 20px;
  color: #01b1b1;
  text-shadow: 2px 2px 1px #55002b;
  font-family: 'Lucida Sans Regular', Verdana, sans-serif;
  background-color:#990000;
  float: right;

  border: 12px outset black;
  border-radius: 20px;

  padding: 15px 15px 7px 15px;
  margin-right: 13px;
}

li {
  padding-top: 2px;

  list-style: none;
  text-align: center;
  line-height: 50px;
  rotate: 3deg;

  border-bottom: 3px dashed #078446;
  border-right: 3px dashed #078446;
}

.lower {
  rotate: -3deg;
}

.list-bottom {
  border-bottom: none;
}

