@font-face {
  font-family: blackNorth;
  src: url(fonts/Blacknorthdemo-mLE25.otf);
}

@font-face {
  font-family: spookyHallow;
  src: url(fonts/SpookyHollow-z84pX.ttf);
}

@font-face {
  font-family: raillyRegular;
  src: url(fonts/RaillyRegular-axXra.otf);
}

@font-face {
  font-family: billyHatter;
  src: url(fonts/BillyHatterPesonalUseOnly-9Ydyy.otf);
}

body {
  background-color: #777777;
  color: #420455;
  text-shadow: 1px 1px 1px #7d2597;
}

.band-name {
  font-family: spookyHallow;
}

h1 {
  font-family: billyHatter;
  text-align: center;
  font-size: 155px;
  margin-bottom: 0px;
  margin-top: 15px;
}


.small-superscript {
  font-family: billyHatter;
  color: #99004d;
  text-shadow: 2px 2px 3px #6a006a;

  letter-spacing: 1px;
  vertical-align: super;
  margin-top: 0px;
}

.superscript {
  font-size: 72px;
  vertical-align: super;
  color: #99004d;
  margin-top: 0px;
  text-shadow: 2px 2px 3px #6a006a;
}

h2 {
  font-family: billyHatter;
  text-align: center;
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}

img {
  margin: 20px 30px 0px 5px;
  float: left;
  width: 1000px;
  height: auto;
}

p {
  font-size: 23px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;

  clear: left;
  margin-left: 15px;
}

.info {
  margin-bottom: 0px;
  margin-left: initial;
  text-align: justify;
  clear: none;
  
  font-weight: normal;
  color: currentColor;
}

.new-album {
  font-family: raillyRegular;
  font-size: 35px;
  text-align: right;

  color: #99004d;
  text-shadow: 2px 2px 3px #6a006a;

  margin-bottom: 0px;
  margin-right: 45px;
}

.album-name {
  color: #2ed73a;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 1px 2px 1px rgb(83, 121, 86);

  border: 5px #4ac925;
  border-left: 5px #1F9400;
  border-top: 5px #1F9400;
  border-style: double;

  background: rgb(20, 31, 16);

  padding: 6px 6px 3px 6px;
}

ul {
  font-size: 25px;
  letter-spacing: 3px;
  color: #f8aeae;
  text-shadow: 2px 2px 1px #55002b;
  font-family: blackNorth;

  background-color:#990000;
  float: right;

  border: 12px outset black;
  border-radius: 20px;

  padding: 15px 15px 7px 15px;
  margin-right: 13px;
  margin-left: 20px;
  margin-top: 0px;
}

li {
  list-style: none;
  text-align: center;
  line-height: 50px;
  rotate: 3deg;

  padding-top: 5px;

  border-bottom: 5px ridge #078446;
  border-radius: 5%;
}

.lower {
  rotate: -3deg;
  color: #AEF8F8;
}

.list-bottom {
  border-bottom: none;
}